.home_container {
    display: flex;
    justify-content: center;
    background-image: url("../../assets/icons/rocket.png");
    background-size: cover;
    background-color: #e6edf8;
    min-height: 100vh;
}
.home_layout {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
.home_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    @media screen and (max-width: 910px) {
        justify-content: center;
    }
}
.home_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home_logo {
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.home_line {
    margin-left: 30px;
    margin-right: 10px;
    height: 50px;
    @media screen and (max-width: 910px) {
        display: none;
    }
}
.nav_bar_group {
    margin-left: 20px;
    & > *:not(:last-child) {
        margin-right: 40px;
    }
    @media screen and (max-width: 910px) {
        display: none;
    }
}
.nav_bar_text {
    font-size: 24px;
    font-family: Poppins;
    font-weight: bold;
    color: #2a9e55;
    cursor: pointer;
    font-style: bold;
    text-decoration: none;
}
.enter_btn {
    border-radius: 15px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-family: Poppins;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 25px;
    @media screen and (max-width: 910px) {
        display: none;
    }
}
.home_lanch_text {
    color: #3d4950;
    font-family: Poppins;
    font-weight: bold;
    font-size: 65px;
    @media screen and (max-width: 910px) {
        font-size: 40px;
    }
    @media screen and (max-width: 750px) {
        font-size: 30px;
    }
    @media screen and (max-width: 500px) {
        font-size: 25px;
    }
    @media screen and (max-width: 400px) {
        font-size: 20px;
    }
}
.lanch_text_group {
    margin-top: 100px;
    text-align: center;
}
.desc_text_group {
    margin-top: 50px;
    text-align: center;
}
.token_description {
    font-size: 30px;
    color: #3d4950;
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 1100px) {
        font-size: 20px;
    }
    @media screen and (max-width: 750px) {
        font-size: 18px;
    }
}
.balance_description {
    font-size: 30px;
    color: #3d4950;
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 1100px) {
        font-size: 20px;
    }
    @media screen and (max-width: 750px) {
        font-size: 18px;
    }
    @media screen and (max-width: 650px) {
        font-size: 22px;
    }
}
.home_row {
    display: flex;
    flex-direction: row;
}
.home_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 650px) {
        flex-direction: column;
    }
    & > *:not(:last-child) {
        margin-bottom: 10px;
    }
}
.token_col {
    display: flex;
    flex-direction: column;
}

.token_balance {
    font-size: 36px;
    color: #2a9e55;
    font-family: Poppins;
    font-weight: bold;
    @media screen and (max-width: 750px) {
        font-size: 30px;
    }
    @media screen and (max-width: 650px) {
        font-size: 30px;
    }
}
